@charset "utf-8";

:root{
    --cor01: #52E379;
    --cor02: #52E3DC;
    --cor03: #52E3AB;
    --cor04: #52BCE3;
    --vermelho: red;
    --amarelo: rgb(231, 202, 69);
    --azul: rgb(97, 132, 177);
    --laranja: rgba(199, 90, 39, 0.925);
    --cinza: rgb(88, 84, 84);
    --verde: rgb(84, 179, 47);
    --rosa: rgb(241, 117, 225);
}

@media screen and (max-width: 999px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /***********************************
    Estilização do corpo da página
    *************************************/
    body{
        background-color: rgba(211, 216, 198, 0.336);
        background: url(Imagens/fundo.png) transparent;
        background-attachment: fixed;

    }


    /***********************************
    Estilização do cabeçalho
    *************************************/
    .cabecalho{
        padding: 10px;
        background-color: var(--cor03);
    }

    .cabecalho-2{
        display: none
    }


    .cabecalho ul li{
        list-style-type: none;
        display: flex; 
        justify-content: center;
        columns: 2;
    }

    .cabecalho ul li a{
        text-decoration: none;
        padding: 10px;
        color: aliceblue;
        font-size: 1rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.644);
    }

    .cabecalho ul li a:hover{
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 15px;
    }

    #icone{
        color: white;
        font-size: 50px;
    }

    summary{
        list-style: none;
        text-align: center;
       
    }

    /***********************************
    Estilização do Botão
    *************************************/
    .botao-voltar-topo{
        padding: 10px;
        border: 3px solid rgb(163, 158, 158);
        position: fixed;  
        bottom: 20px;
        right: 20px;
        border-radius: 15px;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.616);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
    }

    .botao-voltar-topo a{
        text-decoration: none;
        color: white;
    }

    /***********************************
    Estilização do Código HTML
    *************************************/

    code, pre{
        width: 80vw;
        contain: layout;
        font-weight: bold;
        color: white;
        padding: 10px;
    }

    .code-html{
        background-color: var(--cinza);
        width: 85vw;
        display: block;
        margin: 15px auto;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    }

    .azul{
        color: var(--azul);
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.116);
    }

    .laranja{
        color: var(--laranja);
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.116);
    }

    .verde{
        color: var(--verde);
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.116);
    }

    .amarelo{
        color: var(--amarelo);
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.116);
    }

    .rosa{
        color: var(--rosa);
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.116);
    }

    /***********************************
    Estilização dos parágrafos e títulos
    *************************************/
    p, h1, h2, h3{
        padding: 15px;
    }

    main ul{
        padding-left: 25px;
        line-height: 25px;
    }

    h1{
        background-color: rgba(99, 222, 238, 0.705);
        margin: 15px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    }

    /***********************************
    Estilização do botão do Google Fonts
    *************************************/

    .botao-azul{
        background-color: #1E64D4;
        color: white;
        padding: 8px;
        border: none;
        border-radius: 15px;
    }
    
    /***********************************
    Estilização do teste do botão
    *************************************/
    .teste-de-botao{
        background-color: black;
        color: white;
        margin: auto;
        width: 100px;
        height: 50px;
        display: block;            
    }
            
    .teste-de-botao:hover{
        background-color: rgb(248, 248, 141);
        color: rgb(8, 8, 8);
    }


    /***********************************
    Estilização dos links do exemplo
    *************************************/
    #links-resultado a{
        color: red;
        text-decoration: none;
        font-weight: bold;
    }
                
    #links-resultado a:visited{
        color: yellow;
    }
        
    #links-resultado a:hover{
        text-decoration: underline;
        color: black;
    }
                
    #links-resultado a:active{
        color: rgb(15, 243, 83);
    }

    /***********************************
    Estilização dos blocos da parte do Flexbox
    *************************************/

    .imagem-flex{
        width: 93vw;
    }

    .bloco-1{
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #8bdfdd;
        color: white;
        padding: 3px;
        margin: 10px;
    }

    .bloco-2{
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #aadf8b;
        color: white;
        padding: 3px;
        margin: 10px;
    }

    .bloco-3{
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #df8bd8;
        color: white;
        padding: 3px;
        margin: 10px;
    }

    .container1{
        margin: 10px;
    }

    .tit-flex{
        background-color: #7196e7;
        padding: 3px;
    }

    .flex-div{
        border:1px solid black;
        border-radius: 5px;
        width: 93vw;
        margin: 15px;
    }

        
    /***********************************
    Estilização do Botão de atalho
    *************************************/
    .but-tec{
        background-color: black;
        color: white;
        padding: 4px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    }    


    /****************************************
    Estilização tabela tipos primitivos
    ***************************************/

    .tabela-tipos-primitivos{
        border: 2px solid black;
        padding: 10px;
        margin: 5px;
        border-collapse: collapse;
        text-align: center;
    }

    /***********************************************
    Estilização imagens SQL
    ************************************/
    .imagem-sql{
        width: 95vw;
    }

    .imagem-DER{
        width: 50vw;
        height: 50vh;
        display: flex;
        margin: auto;
    }

    .imagem-entidade{
        width: 50px;
        height: 50px;
    }

    

    /************************************
    Estilização tabela Java
    ********************************/
    .tabela-java, th, td{
        border: 2px solid black;
        padding: 3px;
        margin: 5px;
        border-collapse: collapse;
        text-align: center;
        
    }

    .true{
        color: #52E379;
    }

    .false{
        color: red;
    }
}
